@import './base.css';

@font-face {
  font-family: 'inter';
  src:url('~@/assets/fonts/Inter/static/Inter-Black.ttf') format('ttf');
}
body{
  margin: 0 !important;
  padding: 0;  
}
#app {
  width: 100%;

  font-weight: normal;
  display: flex;
  justify-content: center;
}

a{
  all: unset;
  cursor: pointer;
}
button{
  all: unset;
  cursor: pointer;
}
.body{
  width: 90%;
  /* background-color: blue; */
}
.call_to_action{
  min-width: 80px;
  height: 40px;
  background-color: #0099ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'inter_bold', sans-serif;
  font-weight: bold;
  font-style: normal;
  color: white;
  /* padding: 1%; */
}
.heading1{
  font-family: 'inter', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 3em;
}
.heading15{
  font-family: 'inter', sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1.5em;
}
.heading2{
  font-family: 'inter', sans-serif;
  font-weight: bold;
  font-style: normal;
}
.normal_text{
  font-family: 'inter', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
}
.icon{
  width: 40px;
  height: 40px;
  margin: 10px;
  /* background-color: black; */
}
.logo{
  width: 50%;
  height: auto;
}
.book_container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}
.form_brand{
  display: flex;
  justify-content: center;
  align-items: center;
}
.graph_container{
  height: 500px;
  width: 50%;
}
.head_fill{
  width: 100%;
  height: 70px;
  background-color: white;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  z-index: 6;
}
.left_div{
  height: 100%;
  width: 50%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.right_div{
  height: 100%;
  width: 50%;
  /* background-color: rgb(226, 43, 52); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.image{
  display: block;
  width: auto;
  height: 100%;
  /* background-color: aqua; */
  /* border-top-right-radius:30px; */
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%; */

}
.holder{
  min-height: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: blueviolet; */
}
.form_container{
  width: 50%;
}

@media (hover: hover) {
  a:hover {
    /* background-color: blue; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  */
  }
}

@media (max-width: 784px) {
  .graph_container{
    width: 100%;
  }
  .holder{
    min-height: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: blueviolet; */
  }

  .form_container{
    width: 100%;
  }
  .logo{
    width: 100%;
    height: auto;
  }
}
